
.navbar-brand .imgs{
   width: 120px;
   height: 40px;
   padding-top: 5px;
  
}
.navbar-nav .nav-item{
    margin-left: 15px;
    font-weight: 600;
    font-size: larger;
}
.collapse .navbar-nav .icon i{
 
   padding-right: 10px;
}
.collapse .navbar-nav .icon{
   padding-top: 10px;
}
.navbar-brand{
   padding-left: 100px;
}
 .navbar-nav {
   padding-right: 100px;

}
.nav-item .cursor-pointer{
   cursor: pointer;
}
